$palette: (
	50 : #D9FFD9,
	100 : #B3FFB3,
	200 : #80FF80,
	300 : #4DFF4D,
	400 : #26FF26,
	500 : #00FF00,
	600 : #00D900,
	700 : #00B300,
	800 : #008000,
	900 : #005900,
	A100 : #B3FFB6,
	A200 : #80FF86,
	A400 : #4DFF55,
	A700 : #1AFF25,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);
