$palette: (
	50 : #FFD9FF,
	100 : #FFB3FF,
	200 : #FF80FF,
	300 : #FF4DFF,
	400 : #FF26FF,
	500 : #FF00FF,
	600 : #D900D9,
	700 : #B300B3,
	800 : #800080,
	900 : #590059,
	A100 : #FFB3FB,
	A200 : #FF80F9,
	A400 : #FF4DF6,
	A700 : #FF1AF4,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #ffffff,
	)
);
